#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rule-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rule-input .zodui-item__more,
.rule-input .zodui-item__label,
.rule-input .multiple-item__index-tag,
.rule-input .zodui-item__error {
  display: none;
}

.rule-input .zodui-item {
  width: 200px;
}

.rule-input .t-button {
  display: none;
}

.rule-wrapper > * + * {
  margin-left: 4px;
}
