.filter-sphere-filter-group-container {
  button {
    white-space: nowrap;
  }

  select {
    min-height: 34px;
    min-width: 48px;
  }
}

@media (min-width: 768px) {
  .tagline {
    font-size: 24px;
  }
}

.live-code-layout > .example-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  max-width: 100%;
  overflow: auto;
}
