.filter-sphere-filter-group-container {
  button {
    white-space: nowrap;
  }

  select {
    min-height: 34px;
    min-width: 48px;
  }
}

@media (min-width: 768px) {
  .tagline {
    font-size: 24px;
  }
}

.expressive-code .frame pre {
  max-height: min(68vh, 1000px);
  overflow: auto;
}
.expressive-code pre::-webkit-scrollbar-corner {
  display: none;
}
